/*===== STYLE RESPONSIVE MOBILE =====*/
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 960px) {
    .container-turmas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .card-turmas {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 65%;
        height: 500px;
        text-align: center;
        color: white;
    }

    .nav-bar {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around !important;
        align-items: center;
    }
}

@media (max-width: 947px) {

    .home .home-content .text2 {
        font-size: 60px;
    }

    .home .home-content .text3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
        margin-bottom: 100px;
    }

    .services .serv-content .card {
        width: calc(50% - 15px);
        margin-bottom: 20px;
        z-index: 50;
        text-align: center;
    }

    .services .serv-content .card p {
        width: 100%;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .botao-entrar-em-contato {
        display: none;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .matriculas-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60% !important;
    }

    .matriculas-card h2 {
        font-size: 40px !important;
    }

    .matriculas-card p {
        font-size: 16px !important;
        text-align: center;
    }

    .botao-matricula {
        font-size: 14px !important;
        width: 180px;
    }

    .carrousel-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-menu {
        display: block !important;
    }

    .botao-entrar-em-contato-responsive {
        background-color: var(--color-white);
        border: 1px solid var(--color-white);
        border-radius: 6rem;
        text-decoration: none;
        color: var(--color-black-clean);
        padding: 0.4rem;
        display: flex;
        width: 100px;
        font-size: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .botao-entrar-em-contato-responsive:hover {
        background-color: #ffffffc9;
        border: 1px solid #ffffffc9;
        border-radius: 6rem;
        padding: 0.4rem;
        display: flex;
        width: 100px;
        justify-content: center;
        align-items: center;
    }

    .fa-whatsapp {
        font-size: 20px;
    }

    .content-footer,
    .container-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .responsive-icons {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .responsive-icons a span {
        display: none;
    }

    .responsive-icons .redes-footer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .responsive-icons a {
        font-size: 20px !important;
    }

    .container-footer p,
    .container-footer ul li {
        font-size: 14px;
        gap: 0;
    }

    .content-maps iframe {
        width: 80%;
        height: 600px;
    }

    .redes-footer {
        display: none;
    }

    .link-principal-responsivo {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .link-principal-responsivo a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        color: var(--color-black-clean);
        text-decoration: none;
        gap: 0.3rem;
        border-radius: 20px;
        padding: 0.5rem;
        font-size: 16px !important;
    }

    .icon-tell {
        background-color: black;
        font-size: 20px !important;
    }

    .bilingue {
        background-color: var(--azul);
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bilingue h2 {
        color: var(--yellow);
        font-family: var(--baloo);
        font-weight: 800;
        font-size: 25px !important;
    }

    .bilingue h3 {
        color: var();
        font-family: var(--baloo);
        font-weight: 800;
        font-size: 20px !important;
    }

    .bilingue p {
        font-size: 14px;
    }

    .card-bilingue {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .bilingue-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }

    .bilingue-second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }

    .proposta-card {
        width: 100%;
    }

    .proposta-card p,
    .proposta-card span {
        width: 100% !important;
        font-size: 14px;
    }

    .material {
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
    }

    .text-section {
        max-width: 80% !important;
    }

    .text-section p {
        width: 100% !important;
        font-size: 16px !important;
    }

    .image-grid {
        max-width: 92% !important;
    }

    .structure {
        padding: 0px 0 100px 0 !important;
    }

    .card-verse {
        display: flex;
        flex-direction: column !important;
    }

    .verse-02 {
        margin: 50px 0 0 0;
        width: 50% !important;
    }
    .card-component-turmas {
        flex-direction: column !important;
        padding: 30px 0 0 0 !important;
      }
    
      .card-text-turmas {
        width: 100% !important;
      }
    
      .card-img-turmas {
        width: 100% !important;
        margin-top: 20px;
      }

      .card-img-turmas img {
        border: none !important;
      }
    
      .card-swiper-slide {
        width: 100% !important;
      }
    
      .card-swiper-slide img {
        width: 100% !important;
      }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text2 {
        font-size: 50px;
    }

    .home .home-content .text3 {
        font-size: 30px;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .services .serv-content .card .box p {
        max-width: 100%;
    }

    .nav-bar .logo {
        width: 80px;
    }

    .green {
        background-color: white;
        height: 130px !important;
    }

    .section-carrousel img {
        width: 100%;
        height: 230px;
    }

    .first-section {
        padding: 30px 0 !important;
    }

    .content-tell p {
        font-size: 16px !important;
    }

    .content-tell span {
        font-size: 12px !important;
    }

    .sistema-img {
        width: 50% !important;
        margin: 2rem 0 0 0;
    }

    .icons-forms {
        width: 32px;
        height: 32px;
        font-size: 20px;
        color: white;
        padding: 0.6rem 1rem;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        text-decoration: none;
        justify-content: center;
    }

    .form-right h2,
    .content-maps .text {
        font-size: 30px !important;
    }

    .about-content p {
        width: 100%;
        font-size: 14px;
    }

    .about-content a {
        font-size: 16px !important;
    }

    .tag-anos-escola h2 {
        font-size: 40px !important;
    }

    .section .title {
        font-size: 32px !important;
    }

    .content-maps iframe {
        width: 100%;
        height: 300px;
    }

    .card-swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 220px !important;
    }

    .card-turmas {
        height: auto !important;
    }

    .card-turmas p {
        font-size: 14px;
    }

    .card-turmas h3 {
        font-size: 24px;
    }

    .card-turma-03 h3 {
        font-size: 20px !important;
    }

    .card-turma-03 h3 strong {
        font-size: 24px !important;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card,
    .card-container {
        display: flex;
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }

    .material-div, .material {
        display: flex;
        width: 100% !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .card-component-turmas p {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .home .home-content .text2 {
        font-size: 50px;
    }

    .home .home-content .text3 {
        font-size: 26px;
    }

    .services .serv-content .card .box p {
        max-width: 100%;
    }

    .card-img-01 {
        width: 80%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1050px) {
    .home .home-icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .portfolio-img {
        width: 320px;
    }

    .portfolio-content {
        align-items: center;
    }

    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -3.5rem;
    }

    .swiper-button-next {
        right: -3.5rem;
    }

    .swiper-container-horizontal {
        bottom: -3.5rem;
    }
}

@media (max-width: 350px) {
    .portfolio-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 420px) {
    .portfolio-container {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 568px) {
    .portfolio-content {
        grid-template-columns: repeat(2, 1fr);
    }
}